* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
}

.menu {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100vh;
  background-color: #444;

  li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    padding: 10px 8px;
    transition: all .3s ease;

    &:hover {
      color: #fff;
      background-color: #333;
    }
  }
}

.container {
  flex: 1;
  padding: 10px;
}

.page {

  &__title {
    margin: 0;
    font-weight: normal;
    letter-spacing: .05em;
  }

  &__paragraph {
    color: #666;
    font-size: 16px;
  }

  a {
    color: #777;
    transition: color .3s ease;

    &:hover {
      color: #333;
    }
  }

  &__footer {
    padding: 10px 0;
    border-top: 1px solid #e2e2e2;
    color: #999;
  }
}
