.dashboard {
  //padding: 0 20px;
}

.section__title {
  color: #7f7f7f;
  font-size: 14px;
  height: 40px;
  margin: 0;
  padding: 0 15px;
  line-height: 40px;
  font-weight: normal;
  -webkit-user-select: none;
  background-color: rgba(255, 255, 255, .9);
}
