.dashboard {
  padding: 0 20px;
}

.header {
  background-color: white;
}

.brand {
  font-size: 40px;
  color: #333;
  margin: 20px 0;

  small {
    font-weight: normal;
    font-size: 16px;
    color: #999;
  }
}

.description {
  color: #666;
  margin: 0;
}